<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- CSS plug-ins -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
  <!-- custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  {{#if css}}
  <link rel="stylesheet" href="/css/{{css}}.css">
  {{/if}}
  <title>Restaurant List</title>
</head>
<body>
  <header>
    <!-- navigation -->  
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          <span>我的餐廳清單</span>
        </a>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/restaurants/new">新增餐廳</a>
          </li>
        </ul>
        <div class="ml-auto">
          <a href="/users/signin" class="btn btn-outline-info">登入</a>
        </div>
      </div>
    </nav>
  
    <div class="banner"></div>
  </header>
  
  {{!-- partial layout --}}
  {{{ body }}}

  <footer class="bg-dark mt-5">
    <div class="container py-4 text-center">
      <div class="d-inline-block mx-auto">
        <a href="https://github.com/Lastor-Chen/node_restaurant_list_v2" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <span class="d-block text-white-50">
          Made in 2019. <br>
          Database built on mongoDB. <br>
          Server system built on Node.js with Express framework.
        </span>
      </div>
    </div>
  </footer>

  <!-- script plug-ins -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- custom JS -->
  {{#if js.catch}}
  <script src="/js/{{js.catch}}.js"></script>
  {{/if}}

  {{#if js.delBtn}}
  <script src="/js/{{js.delBtn}}.js"></script>
  {{/if}}
</body>
</html>

